.app__wrapper h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: 1em;
}

.app__wrapper h2 {
  font-family: "Montserrat", sans-serif;
  padding: 0 12px;
}

.add__item {
  background-color: rgba(171, 174, 178, 0.75);
  margin: 0;
}

.add__items__wrapper {
  background: rgb(235, 236, 238);
}

.form__wrapper {
  background-color: transparent;
  padding: 1em 2em;
  width: 100%;
}

.form__wrapper label {
  font-size: 0.8rem;
  line-height: normal;
}

.form__wrapper input[type="text"] {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0.5 0.25em;
}

.form__wrapper textarea {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0 0.25em;
}

.form__wrapper input[type="number"] {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0.5 0.25em;
}

.form__contents {
  background-color: #e4e4e4;
  border: 1px solid #ccc;
  box-shadow: 3px 3px #cccccc88;
  padding: 1.5em;
}

.form__contents button {
  background-color: #73c0f4;
  border: 1px solid #ccc;
  padding: 0.5em 2em;
  transition: 0.3s;
  width: fit-content;
}

.form__contents button:hover {
  background-color: #4e83a7;
  color: white
}

.form__contents legend {
  font-family: "Montserrat", sans-serif;
}

.database__products input[type="checkbox"] {
  margin: 0 10px 0 0;
  padding: 0;
}

.products__image {
  margin-left: auto;
  opacity: 0.7;
  width: 80%;
}


.list__database__items button {
  background-color: #eee;
  padding: 7px 25px !important;
  border-radius: 0 !important;
  border: 1px solid #ccc !important;
  margin: 0.125em 0.5em;
  width: 100%;
}

.list__database__items button:hover {
  background-color: #aaa;
}