.single__product__card {
  line-height: normal;
}

.single__product__card button {
  text-align: left;
}

.product__id {
  color: #d8d8d8;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: -1px -1px 0 #644, 1px -1px 0 #644, -1px 1px 0 #644, 1px 1px 0 #644;
}

.single__product__card p {
  font-size: 0.8rem;
  margin: 0;
}

.single__product__card h4 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  line-height: normal;
  position: absolute;
  position: fixed;
  right: 0;
  top: 0;
}

.overlay__content {
  width: 60%
}

.overlay__update__inputs label {
  font-size: small;
  margin: 0;
  padding: 0;
}

.overlay__update__inputs input[type="text"] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid #ccc !important;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  outline: none;
}

.overlay__update__inputs input[type="text"]:hover {
  background-color: #a0a0a025;
}

.overlay__update__inputs textarea {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid #ccc !important;
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  margin: 0;
  padding: 0;
  outline: none;
}

.overlay__update__inputs textarea:hover {
  background-color: #a0a0a025;
}

.overlay__update__inputs input[type="number"] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid #ccc !important;
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  margin: 0;
  padding: 0;
  outline: none;
}

.overlay__update__inputs input[type="number"]:hover {
  background-color: #a0a0a025;
}

.overlay__update__inputs .delete__button {
  background-color: #500;
  border: 1px solid #722 !important;
  color: white;
  text-align: center;
}

.overlay__update__inputs .delete__button:hover {
  background-color: #300;
}

.overlay__update__inputs .update__button {
  text-align: center;
}

.overlay__update__inputs .close__button {
  text-align: center;
}


.purchase__info {
  background-color: #33333385;
  margin: 0;
  padding: 1em;
  width: 100%;
}

.scrollable__container {
  background-color: #aaaaaa25;
  height: 3.5em;
  overflow-y: scroll; /* Enable vertical scrolling */
  padding: 0.25em 0.5em;
}
